:root {
    --blue: #61B0FF;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0B1624;
    overflow-x: hidden;
}

span {
    color: #ffffff;
}

.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}


.secao-side {
    height: 100vh;
    width: 7%;
}

.botao-side-bar {
    position: fixed;
    top: 20px;
    left: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
    height: auto;
    cursor: pointer;
    z-index: 1100;
}


.botao-side-bar span {
    font-weight: 600;
    color: var(--blue);
}

#menu-bar {
    color: #fff;
    font-size: 25px;
    transform: scaleX(-1.7);
    padding: 5px;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #0B1624;
  padding: 30px;
  width: 25%;
  height: 100vh;
  gap: 20px;
  box-sizing: border-box;
  z-index: 1000;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.side-bar.show {
  transform: translateX(0);
  opacity: 1;
  display: flex;
}

.side-bar span {
    font-size: 5vh;
    font-weight: 600;
    color: var(--blue);
}

.boas-vindas {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.boas-vindas img {
    width: 30%;
}

.textos-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boas-vindas span {
    font-size: 3vh;
    color: white;
}

#b_usuario {
    color: var(--blue);
}

.opcoes-bar {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 20%;
    width: 80%;
    gap: 10px;
    margin-bottom: 60%;
}

.opcoes-bar a {
    font-size: 2.5vh;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to right, var(--blue) 0%, var(--blue) 3%, #34495e 3%, #34495e 100%);
    width: 100%;
    padding: 8px;
    padding-left: 20px;
    border-radius: 12px;
    font-weight: 600;
}

.fundo-preto {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fundo-preto.show {
  display: block;
  opacity: 1;
}

.conteudo-principal {
  width: 91%;
  height: 100vh;
  color: white;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #0B1624;
  overflow: hidden;
}

.titulo-dash {
    margin-bottom: 7px;
}

.periodos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #fff;
    width: 30%;
    margin-top: 5px;
}

.periodos button {
    color: #0B1624;
    font-weight: 600;
    cursor: pointer;
    border: none;
    width: 30%;
}

.sete-dias {
    background-color: #61B0FF;
    padding: 1%;
    border-radius: 15px;
    color: #0B1624;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.quinze-dias {
    background-color: #fff;
    padding: 1%;
    border-radius: 15px;
    color: #0B1624;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.trinta-dias {
    background-color: #fff;
    padding: 1%;
    border-radius: 15px;
    color: #0B1624;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.nome-dash {
    font-weight: 700;
    margin-right: 50px;
    font-size: 25px;
}

.subtitulo-dash {
    font-size: 15px;
}

.kpis {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kpi {
    background-color: #E0E0E0;
    width: 33%;
    border-radius: 15px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taxa-falhas {
    color: red;
    font-size: 90px;
    font-weight: 700;
    line-height: 0.8;
    display: block;
}

.kpi-titulo {
    color: #0B1624;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    justify-content: center;
}

.kpi-titulo-componentes {
    color: #0B1624;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.descricao-kpi {
    color: #0B1624;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.kpi button {
    background-color: #61B0FF;
    padding: 10px;
    margin-top: 7px;
    width: 80%;
    border: none;
    border-radius: 15px;
    font-weight: 700;
}

.lotes {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.lote-um {
    background-color: red;
    padding: 10px;
    border-radius: 15px;
    width: 30%;
    margin-top: 1px;
}

.componentes-maior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 77%;
    margin-top: 3px;
    width: 80%;
}

.componente {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.componente span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #0B1624;
    font-weight: 700;
    background-color: red;
    padding: 3px;
    width: 100%;
}

.graficos {
    height: 67vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.graficos-componentes {
    height: 100%;
    width: 66.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.grafico-geral {
    width: 33%;
    height: 100%;
}

.myChart {
    background-color: #E0E0E0;
    width: 100%;
    height: 49%;
    border-radius: 15px;
}

.myChart2 {
    background-color: #E0E0E0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.myChart canvas{
  width: 100%;
  display: block;
}