* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
}

.dashboard {
    background-color: #E7E7E7;
    width: 100%;
}

.header {
    margin-left: 0.5%;
    margin-top: 0.5%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {

    font-size: 24px;
    font-weight: bold;
    background-color: #C6C6C6;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
}

.title {
    font-size: 2.5ch;
}

.chamados-table {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: #C6C6C6;
    border-collapse: collapse;
    margin: auto;
    border-radius: 5px;
    justify-content: space-around;
}

.chamados-table th, 
.chamados-table td {
    width: 100%;
    padding: 10px;
    text-align: left;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.chamados-table th {
    background-color: #C6C6C6   ;
    font-weight: bold;
}

.kpi-container {
    margin-top: 1.5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.kpi-card {
    background-color: #515C7C;
    border-radius: 5px;
    padding: 15px;
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: whitesmoke;
}

.kpi-title {
    font-size: 2ch;
    margin-bottom: 8px;
    color: whitesmoke;
}

.kpi-value {
    font-size: 18px;
    font-weight: bold;
}

.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.filter-group {
    font-size: 2.5ch;
    display: flex;
    align-items: center;
}

.filter-group label {
    margin-right: 10px;
}

#lote {
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: white;
    font-size: 14px;
    width: 100%;
}

.periodo-buttons {
    display: flex;
    background-color: white;
    padding: 2%;
    border-radius: 20px;
}

.periodo-btn {
    background-color: #C6C6C6;
    border: none;
    padding: 8px 12px;
    color: black;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 20px;
}

.periodo-btn:last-child {
    margin-right: 0;
}

.periodo-btn.active {
    background-color: #4eb5f1;
    color: whitesmoke;
}

.chart-container {
    background-color: #C6C6C6;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.chart-container h3 {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.metrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.metric-card {
    background-color: #515C7C;
    border-radius: 5px;
    padding: 15px;
    width: 48%;
    text-align: center;
}

.metric-title {
    font-size: 14px;
    margin-bottom: 8px;
    color: whitesmoke;
    font-size: 2ch;
}

.metric-value {
    font-size: 3ch;
    color: whitesmoke;
    font-weight: bold;
}

.chart-wrapper {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    height: 250px;
}