* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
}

.dashboard {
    background-color: #f0f2f5;
    width: 100%;

}

.header {
    margin-left: 0.5%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    background-color: #C6C6C6;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
}

.title {
    font-size: 2.5ch;
}

.table-container {
    width: 85%;
    margin: auto;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chamados-table {
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke;
}

.chamados-table th,
.chamados-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.chamados-table th:last-child,
.chamados-table td:last-child {
    border-right: none;
}

.chamados-table tr:last-child td {
    border-bottom: none;
}

.chamados-table th {
    background-color: whitesmoke;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

.kpi-container {
    margin-top: 1.5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.kpi-card {
    background-color: #515C7C;
    border-radius: 5px;
    padding: 15px;
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: whitesmoke;
}

.kpi-title {
    font-size: 2ch;
    margin-bottom: 8px;
    color: whitesmoke;
}

.kpi-value {
    font-size: 18px;
    font-weight: bold;
}

.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.filter-group {
    font-size: 2.5ch;
    display: flex;
    align-items: center;
}

.filter-group label {
    margin-right: 10px;
}

#lote {
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: white;
    font-size: 14px;
    width: 100%;
}

.periodo-buttons {
    display: flex;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}

.periodo-btn {
    background-color: #C6C6C6;
    border: none;
    padding: 8px 12px;
    color: black;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 20px;
}

.periodo-btn:last-child {
    margin-right: 0;
}

.periodo-btn.active {
    background-color: #4eb5f1;
    color: whitesmoke;
}

.chart-container {
    background-color: #f0f2f5;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.chart-container h3 {
    font-size: 2.5ch;
    margin-bottom: 20px;
    text-align: center;
}

.metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.metric-card {
    background-color: #515C7C;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
    text-align: center;
}

.metric-title {
    font-size: 14px;
    margin-bottom: 8px;
    color: whitesmoke;
    font-size: 2ch;
}

.metric-value {
    font-size: 3ch;
    color: whitesmoke;
    font-weight: bold;
}

.chart-wrapper {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    height: 250px;
}