@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .formulario {
    width: 45%;
  }

  .titulo {
    font-size: 30px;
  }
}

@media (max-width: 920px) {
  html {
    font-size: 55%;
  }

  .formulario {
    margin-top: 20%;
    width: 55%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 55%;
  }

  .formulario {
    width: 65%;
    font-size: 15px;
  }

  /* .titulo{
        font-size: 20px;
    } */
}

@media (max-width: 500px) {
  html {
    font-size: 25%;
  }

  .formulario {
    width: 90%;
  }
}
