@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Chela+One&family=Chewy&family=Lemon&family=Lobster&family=Pattaya&family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
	--blue: #61B0FF ;
	margin: 0;
}
	 
*{
	margin: 0;
	padding: 0;
	font-family: "Alata", serif;
	text-decoration: none;
	outline: none;
	border: none;
	transition: all .2s linear;
	
	
}

*::selection{
	background: var(--blue);
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem; /* 96px */
}

body{
	background: #fff;
}

.heading {
	text-align: center;
	font-size: 3.5rem;
	padding: 1rem;
	color: #666;


}

.heading span {
	color: var(--blue)
}

.btn{
	display: inline-block;
	padding: .8rem 3rem;
	border: .2rem solid var(--blue);
	color: var(--blue);
	cursor: pointer;
	font-size: 1.7rem;
	border-radius: .5rem;
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin-top: 1rem;
}

.btn::before{
	content: '';
	position: absolute;
	top:0; right:0;
	width:0%;
	height:100%;
	background: var(--blue) ;
	transition: .3s linear;
	z-index: -1;
}

.btn:hover::before{
	width: 100%;
	left: 0;
}

.btn:hover{
	color: #fff;
}
	

header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex; 
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%; /* 16 */
}

header .logo{
	font-weight: 900;
	text-decoration: none;
	color: #61B0FF;
	font-size: 3vw;
	
}
header .logo .logofoto{
	padding-right: .5rem;
	height: 50px;
}
header .navbar a{
	font-size: 1.3vw;
	margin-left: 2rem;
	color: #fff;
}
header .navbar a:hover{
	color: var(--blue);
	transition: .5;
}

header .navbar .login-hide{
	font-size: 0px;
}

#menu-bar{
	font-size: 3rem;
	cursor: pointer;
	color: #fff;
	border: .1rem solid #fff;
	border-radius: .3rem;
	padding: .5rem 1.5rem;
	display: none;
}
.home{
	margin: 0;
	height: 100vh;
	width: 100vw;
	padding: 0;

}
.bg{
	height: 100vh;
	width: 100vw;
	background-color: #61B0FF;
	background-image: url('../assets/img/carro-autonomo.jpg');
	background-size: cover;
	position: fixed;
	z-index: -1;

}
.content .blocoTextos{
	z-index: 2;
	bottom: 25vh;
	left: 10vh;
	font-weight: bolder;
	font-size: 5vw;
	color: #fff;
	position: absolute;
}
.blue-p{
	color: #61B0FF;
} 
.content .btn{
	position: absolute;
	bottom: 15vh;
	left: 10vh;
	font-size: 4vh;
}
.quem-somos{
	height: 100vh;
	width: 100vw;
	gap: 15vh;
	background-color: #9dc5ed;
	display: flex;
	align-items: center;
	justify-content: center;
}
.div_quadro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	padding: 0 2vw;
	height: 70vh;
	background-color: #fff;
}
.divisoria{
	border: solid #666;
	border-width: 0.3vh;
	width: 10vh;
	margin-bottom: 1vh;
}
.textos{
	text-align: center;
	font-size: 2.5vh;
	width: 30vw;
	font-family: "Roboto Mono", monospace;
  	font-optical-sizing: auto;
	font-style: normal;
}
.alicerces{
	height: 100vh;
	width: 100vw;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(15px);
	background-color: #3f87cf3b;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.alicerces h1{
	color: #fff;
	padding-top: 10vh;
	font-size: 6vh;
}
.grupo_quadros{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5vh;
	margin-top: 10vh;
	height: 55vh;
	width: auto;
	/* background-color: #fff; */
}
.titulos_quadros{
	font-size: 3vh;
	color: #286db3;
}
.quadro{
	display: flex;
	flex-direction: column;
	border-radius: 2vh;
	align-items: center;
	background-color: #fff;
	height: 55vh;
	width: auto;
	padding: 0 2vw;
}
.icons{
	font-size: 15vh;
	margin-top: 5vh;
	color: #286db3;
}
.quadro .divisoria{
	margin-top: 1vh;
	border-color: #286db3;
	width: 4vh;
}
.quadro .textos{
	width: 22vw;
	font-size: 2vh;
	color: #286db3;
}
.servicos{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #fff;
}
.servicos h1{
	margin-top: 5vh;
	font-size: 6vh;
}
.servicos_div{
	display: flex;
	width: 100vw;
	/* background-color: #9dc5ed; */
	/* align-items: center; */
	justify-content: center;
	gap: 5vh;
	margin-top: 10vh;
}
.beneficio{
	display: flex;
	/* background-color: #666; */
	width: auto;
	padding: 0 1vw;
	flex-direction: column;
	align-items: center;
}
.servicos_div .icons{
	/* background-color: #61B0FF; */
	padding: 4vh;
	border: solid #228df8 1vh;
	border-radius: 12vh;
	color: #228df8;
}
.servicos .divisoria {
	margin-top: 2vh;
	border-color: #228df8;
}
.beneficio .textos{
	width: 17vw;
	color: #228df8;
	
}
.porqueAllSet{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(15px);
	background-color: #3f87cf3b;
	width: 100vw;
}
.porqueAllSet h1{
	color: #fff;
	margin-top: 7vh;
	font-size: 6vh;
}
.img-texto-pq{
	margin-top: 7vh;
	display: flex;
	justify-content: center;
	gap: 5vw;
}
.texto-pq{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: auto;
	padding: 1.4vw;
	height: auto;
	background-color: #fff;
	border-radius: 4vh;
}
.texto-pq p{
	width: 22vw;
	font-size: 1.05vw;
	font-family: "Roboto Mono", monospace;
  	font-optical-sizing: auto;
	font-style: normal;
}
.img-pq{
	height: 30vh;
	width: 40vw;
	/* background-color: #228df8; */
}
.img-pq img{
	height: 30vw;
	width: 40vw;
	/* background-color: #228df8; */
	border-radius: 4vh;
} 
.footer{
	display: flex;
	background-color: #155492;
	color: #fff;
	font-size: 2vh;
	height: 15vh;
	gap: 30vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

